:root{
    --primery-text:font-family:'Roboto',sans-serif;
    --color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-text: #2e2f42;
	--color-green: #31d0aa;
	--color-desc: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-studio-footer: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white:#FFFFFF;
	--color-dairy: #fcfcfc;}


body{color:#434455;
    background-color:var(--color-white);
    font-family: "Roboto", sans-serif;
   }
.section{padding-top: 120px;
        padding-bottom: 72px;
        }
.list{list-style: none;
    padding: 0;
    margin: 0;}
.link{text-decoration: none;}

.container{
    width: 1128px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ============ FONTS FOR SECTIONS */
.section-name{font-family:var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-top: 0;
    color: #2E2F42;
    }
.content-name{font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 0px;
    margin-top: 0;}
.content-text{ font-family: var(--primery-text);
	font-size: 16px;
	font-family: var(--primery-text);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--color-desc);}

/* ============ FINISH FONTS FOR SECTIONS========== */
/* ===========TOP LINE =========*/
.header-page{padding-top: 24px;
padding-bottom: 24px;}
.nav-page{display: flex;}
.logo{margin-right: 76px;
    font-family:'Raleway',sans-serif;
    font-style:normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }
.menu-nav{display: flex;}
.menu-contact{display: flex;
    margin-left: auto;
    }

.address{ font-style: normal;}
.nav-item{
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;}
.nav-item:hover,
.nav-item:focus{color: #404BBF;}
.menu-item:not(:last-child){margin-right: 40px;}
.contact{font-family: var(--primery-text);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.contact:hover,
.contact:focus{color: #404BBF;}

.contact-item{margin-right: 40px;}

.studio{font-family: 'Raleway',sans-serif;
    font-style:normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

   
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2E2F42;
    } 

.page-header-container{display: flex;
   align-items: center;
   justify-content: space-between;}
/* ============FINISH TOP LINE ======================= */

/* ==========HERO================= */
.hero{text-align: center;
    margin-bottom: 0px;
    padding-bottom: 188px;
    background-color:#2E2F42;;
    color: #FFFFFF;}
.hero-title{margin-top: 0;
    margin-bottom: 48px;
    padding-top: 188px;
    font-family: var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size:56px;
    line-height:1.07;
    text-align: center;
    letter-spacing:0.02em;
    }
.btn{border-radius: 4px;
    min-width: 169px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    background: #4D5AE5;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.04em;
    cursor: pointer;}
.btn:hover,
.btn:focus{background: #404BBF;}
/* ====== FINISH HERO */
/* ========Section 1====== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* ======Section2==== */

/* ======  Section 3 Our Team=========*/
.section-team{background: #F4F4FD;}
.card{background-color:var(--color-white) ;}

.employees{display: flex;}


/* ========PORTFOLIO======= */
.btn-filter{font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background: #F4F4FD;
    }
.btn-filter:hover,
.btn-filter:focus{color: #FFFFFF;
    background: #404BBF;}


    /* =====FOOTER===== */
.studio-footer{font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-studio-footer);
    }  
.footer{ background-color:#2E2F42;}
.footer-text{font-family: 'Raleway',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-studio-footer);}